.App {
  text-align: center;
}

.header-text{
  color: blue;
}

.input-field { 
  padding: 10px 10px;
  padding-left: 250px;
  margin-right: 5px;
}

.add-todo{
  padding:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
